@import '../../assets/styles/variables.scss';

$form-font-size: 20px;

.admin {
  height: 100vh;  
  color: $font-primary;
  background-color: $background;
  font-family: $font-family;

  padding: 0 20px;

  &__label {
    display: block;
    margin: 10px 0;
    font-size: 20px;
  }

  &__input {
    padding: 5px 10px;
    width: calc(100% - 20px);

    background-color: $background;
    color: $font-primary;

    border: 2px solid $border-color;
    border-radius: 4px;

    font-family: $font-family;
    font-size: 24px;
    font-weight: 600;
  }

  &__checkbox {
    background-color: $background;
    border: 2px solid $border-color;
    accent-color: $button-color;
    min-height: 17px;
    min-width: 17px;
    cursor: pointer;

    &--label {
      padding: 10px 5px;
      font-size: 24px;
    }
  }

  select {
    width: 100%;

    background-color: $background;
    color: $font-primary;

    border: none;

    font-family: $font-family;
    font-size: 20px;
    font-weight: 600;
  }

  &__icon-button {
    min-height: 50px;
    border: none;
    background-color: $background;
    color: $font-primary;
    cursor: pointer;
  }

  &__button {
    border: none;
    border-radius: 4px;
    background-color: $button-color;
    color: $font-primary;
    font-family: $font-family;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;

    &:active {
      transform: translateY(2px);
      background-color: darken($button-color, 10%);
    }

    &:hover {
      background-color: darken($button-color, 10%);
    }

    &:disabled {
      background-color: darken($button-color, 20%);
      color: darken($font-primary, 50%);
      cursor: not-allowed;
    }

    &.image-button {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px; 
      width: calc(100% - 10px);
      margin-bottom: 10px; 
      text-align: left;
    }

    &.current-image-button {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px;
      width: calc(100% - 10px); 
      margin-bottom: 10px;
      text-align: left;

      background-color: lighten($button-color, 20%);
    }

    &.current-button {
      background-color: lighten($button-color, 20%);
    }
  }

  &__tile-button {
    min-height: 50px;
    border: none;
    background-color: $background;
    color: $font-primary;
    font-family: $font-family;
    font-size: 24px;
    padding: 10px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px; 
    width: calc(100% - 10px);
    text-align: left;
    cursor: pointer;

    &--selected {
      background-color: lighten($button-color, 20%);
    }

    &:active {
      transform: translateY(2px);
      background-color: darken($button-color, 10%);
    }

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }

  &__controls {
    margin-bottom: 10px;
    border: 2px solid $border-color;
    border-radius: 4px;
    padding: 10px;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: center;

    font-size: 20px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 24px;
    }
  }

  &__generate {
    &--form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      align-items: end;

      margin-bottom: 20px;
    }
  }

  &__map--preview {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 10px;

    height: calc(100vh - 240px);
  }

  &__map-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;

    font-size: $form-font-size;

    &--dimensions {
      font-size: 24px;
      padding: 2px;
    }

    &--settings {
      justify-self: end;
    }
  }

  &__upload-form {
    width: 100%;
    margin-bottom: 20px;

    &--side-by-side {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
}

.panel {
  margin-bottom: 20px;
  border: 2px solid $border-color;
  border-radius: 4px;
  padding: 10px;
  overflow-y: scroll;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  &__collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;

    &:hover {
      border-radius: 4px;
    }

    &--title {
      font-size: 24px;
    }

    &--icon-down {
      transform: rotate(0deg);
      transition: transform 0.3s;
    }

    &--icon-up {
      transform: rotate(180deg);
      transition: transform 0.3s;
    }
  }

  &__map-container {
    position: relative;
  }
  
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hide {
  display: none;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $font-primary;
  background-color: $background;
  font-family: $font-family;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    background-color: $background;
    border: 2px solid $border-color;
    border-radius: 4px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

    &--title {
      margin-right: 10px;
      font-size: 30px;
    }
  }

  &__divider-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;

    font-size: 30px;

    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $border-color;
    }

    &::before {
      margin-right: 0.25em;
    }

    &::after {
      margin-left: 0.25em;
    }
  }
}

input[type="file"] {
  display: none;
}

.workspace {
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cell {
    margin: 1px;
    
    &--interaction {
      border: 1px dotted rgba(255, 255, 255, 0.5);

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
