@import '../../assets/styles/variables.scss';

.home {
  height: 100vh;
  color: $font-primary;
  background-color: $background;
  font-family: $font-family;

  padding: 20px;

  h1 {
    margin: 0 auto;
    padding: 10px 0;
    font-size: 36px;
  }

  a {
    color: $font-primary;
    text-decoration: none;
    font-size: 24px;

    &:hover {
      padding-left: 5px;
      font-weight: bold;
    }
  }

  &__menu {
    background-color: $background;
  }

  &__developer {
    display: grid;
    grid-template-areas: 'a c'
                          'b b';
    font-family: "MechanoidItalic";

    &--a {
      font-size: 100px;
      grid-area: a;
    }

    &--b {
      font-size: 60px;
      grid-area: b;
    }

    &--c {
      grid-area: c;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}