@import '../assets/styles/variables.scss';

.hud {
  background-color: transparent;
  padding: 0 10px;

  font-family: $font-family;
  font-size: 30px;
  color: $font-primary;
  text-shadow: 2px 2px $background;

  h3 {
    margin: 0;
    padding: 0px;
  }

  &__health {
    margin-bottom: 5px;
  }

  &__magic {
    display: grid;
    grid-template-columns: 100px repeat(10, auto);
  }
}